<footer class="container mx-auto px-2 lg:px-28 2xl:px-52 mt-14 mb-8">
  <div
    class="rounded-lg border-dark-100 dark:border-dark-700 shadow dark:shadow-dark-700 mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
      ><a href="/" class="hover:underline">juliodevcode</a></span
    ><ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0"
    >
    <li>
      <a class="mr-4 hover:underline md:mr-6" href="/">Inicio</a>
    </li>
      <li>
        <a class="mr-4 hover:underline md:mr-6" href="/#proyectos">Proyectos</a>
      </li>
      <li>
        <a class="mr-4 hover:underline md:mr-6" href="/servicios"
          >Servicios</a>
      </li>
      <li>
        <a class="mr-4 hover:underline md:mr-6" href="/#sobre-mi">Sobre mi</a>
      </li>
      <li>
        <a class="mr-4 hover:underline md:mr-6" href="/#experiencia"
          >Experiencia</a>
      </li>
      <li>
         <a class="mr-4 hover:underline md:mr-6" href="/#tecnologias"
           >Tecnologías</a>
       </li>
    </ul>
  </div><div class="mt-8 flex justify-center opacity-70">
    <small class="text-dark-700 dark:text-dark-200 text-center">
      Inspirado en <a
        href="https://porfolio.dev"
        target="_blank"
        rel="noopener noreferrer"
        class="underline text-primary-700 dark:text-primary-400 font-bold"
        >porfolio.dev</a
      > de <span class="font-bold">midudev</span></small>
  </div>
</footer>
